<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BlockInformation</key>
	<array>
		<dict>
			<key>ImageName</key>
			<string>Block_Black.png</string>
			<key>Description</key>
			<string>空方块</string>
		</dict>
		<dict>
			<key>ImageName</key>
			<string>Block_1.png</string>
			<key>Description</key>
			<string>方块1</string>
		</dict>
		<dict>
			<key>ImageName</key>
			<string>Block_2.png</string>
			<key>Description</key>
			<string>方块2</string>
		</dict>
		<dict>
			<key>ImageName</key>
			<string>Block_3.png</string>
			<key>Description</key>
			<string>方块3</string>
		</dict>
		<dict>
			<key>ImageName</key>
			<string>Block_4.png</string>
			<key>Description</key>
			<string>方块4</string>
		</dict>
		<dict>
			<key>ImageName</key>
			<string>Block_5.png</string>
			<key>Description</key>
			<string>方块5</string>
		</dict>
	</array>
</dict>
</plist>
