<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>star_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,40},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{36,36}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>star_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,2},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{36,36}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>star_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,2},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{36,36}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>star_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,78},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{36,36}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>star_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,40},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{36,36}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>star_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{36,36}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>stars.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4f4cead1d653f4e4b13b993ad07cf25a$</string>
		<key>textureFileName</key>
		<string>stars.png</string>
	</dict>
</dict>
</plist>
